.swiper-slide {
  background-color: transparent !important;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-button-next::after {
  font-size: 28.5px;
  font-weight: 800;
}

.swiper-button-prev::after {
  font-size: 28.5px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .product-head {
    font-size: 30px;
    line-height: 40px;
  }
  .product-text {
    font-size: 20px;
    line-height: 28px;
  }
  .green-line {
    top: 1700px;
    position: absolute;
  }
  .yellow-line {
    top: 1690px;
    position: absolute;
  }
}
@media (max-width: 767px) {
  .product-head {
    font-size: 10px;
    line-height: 12px;
  }
  .product-text {
    font-size: 7px;
    line-height: 8px;
  }

  .green-line {
    top: 1700px;
    position: absolute;
  }
  .yellow-line {
    top: 1690px;
    position: absolute;
  }
}
