
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:wght@500;600;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Product Sans Regular";
    src: url("/public/font/Product Sans Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("/public/font/Product Sans Bold.ttf");
}

@layer base {
    .roboto {
        @apply font-roboto;
    }
    .poppins {
        @apply font-poppins;
    }
}

@layer components {
    .bg-login {
        background-color : #5C9D8D;
        
    }

    .text-whitegrey {
        color: #FAFAFA;
    }

    /* .drop-shadow {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    } */

    .bg-green-gradient {
        background: linear-gradient(174.94deg, #538B7E -6.3%, #538B7E -6.28%, #99C5AD 146.07%);
    }

    .radius-40 {
        border-radius : 40px;
        box-shadow: 0px 16px 100px -20px rgba(0, 0, 0, 0.25);
        background: #ffff;
    }

    .border-product {
        background: #FFFFFF;
        box-shadow: 0px 12px 40px -10px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
    }
    
    .text-nav {
        color: #5C9D8D;
    }

    .text-bgreen {
        color: #3E7A6B;
    }

    .text-lgreen {
        color: #99C5AD;
    }

    .bg-yellows {
        background: rgba(251, 188, 4, 0.35);
    }

    .top-1635 {
        top: 1635px;
        z-index: -1;
    }

    .top-1650 {
        top: 1690px;
        z-index: -1;
    }

    .text-cr {
        color: #FFFFFFA6;
    }

    .bg-footer {
        background-color: #5C9D8D;
    }

    .bg-hero {
        background: url("/public/images/bg-hero.png") no-repeat center center;
        background-size: cover;
    }

    .bg-cView {
        background: url("/public/images/bgCview.png") no-repeat center center;
        background-size: cover;
    }

    .bg-buton-hero {
        background: linear-gradient(98.2deg, #C6D8AD -26.69%, #6EC8B2 114.91%);
    }



    .bg-achievement {
        background: #7CAFA2;
    }

    .bg-gradient {
        background: linear-gradient(87.05deg, #F2E7BC -4.4%, #DAF8E9 97.55%), linear-gradient(93.45deg, #C3EAD7 9.29%, #FFE999 36.17%), linear-gradient(93.45deg, #C3EAD7 2.64%, #FFE999 36.17%), linear-gradient(93.45deg, #C3EAD7 2.64%, #FFE999 36.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .text-grey2 {
        color: #C7C7C7;
    }
}
